@layer theme, base, mantine, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "@mantine/core/styles.layer.css" layer(mantine);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --font-family: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-family);
}
